.sign-in-btn-container {
    display: flex;
    justify-content: space-between;
}

.error {
    background-color: #fc6464;
    color: white;
    font-weight: bolder;
}

.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
}